* {
    margin: 0;
    padding: 0;
   
}


/* Common Styles */

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 28px;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;

}

/* header Section */

header {
    background: rgba(229, 84, 115, 0.10);
}

.header-container {
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 50px 240px 0px 240px;
}


.banner-img img {
    width: 100%;
    vertical-align: middle;
    
}

.banner-text h1 {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    
}

.description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 28px;
    margin-bottom: 29px;
}